html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  background: #fff8d8;
}
main {
  padding: 1%;
  width: 98%;
}
header {
  padding: 1%;
  background: #ccccff;
  width: 98%;
}
footer {
  padding: 1%;
  background: #ccccff;
  width: 98%;
}

button {
  background: #ffcccc;
  border: none;
  padding: 5%;
  cursor: pointer;
  width: 80%;
}
